<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Get the billboard chart</title>
    <meta name="description" content="Get billboard chart for a date">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Get billboard chart for a date
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      <p>Which date do you want to get the chart for?</p>
      <form>
        <input type="text" maxlength="100" value="2016-08-27">
        <button type="submit">Submit</button>
      </form>
      <section class="images">
        <ul id="images">
        </ul>
      </section>
    </main>

    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
</html>
